* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.863);
    color: rgb(239, 184, 16);
    text-align: center;
}


.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    display: block;
    margin: 20px;
}

button {
    padding: 20px;
    width: 200px;
    border-radius: 30px;
    color: white;
    background-color: rgb(239, 184, 16);
    border: none;
    cursor: pointer;
}

h1 {
    margin-bottom: 40px;
}